# Module 2 Assignment

## Processing Data

In this section we load in the data and make it ready for NA and NLP.

### Importing Packages and Data

In [1642]:
import pandas as pd
import numpy as np

In [1643]:
#Reading the two Scopus CSV data files 
scopus2022 = pd.read_csv('scopus 2022 2021.csv',  sep = ',')
scopus = pd.read_csv('scopus.csv',  sep = ',')

In [1644]:
#Appending the two data files 
data = scopus2022.append(scopus, ignore_index=True)

C:\Users\anett\AppData\Local\Temp\ipykernel_20416\2463292892.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = scopus2022.append(scopus, ignore_index=True)

In [1645]:
#Getting an overview of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Authors                        3400 non-null   object
 1   Author(s) ID                   3399 non-null   object
 2   Title                          3400 non-null   object
 3   Year                           3400 non-null   int64
 4   Source title                   3400 non-null   object
 5   Volume                         2320 non-null   object
 6   Issue                          1426 non-null   object
 7   Art. No.                       1051 non-null   object
 8   Page start                     2336 non-null   object
 9   Page end                       2326 non-null   object
 10  Page count                     38 non-null     float64
 11  Cited by                       2164 non-null   float64
 12  DOI                            2972 non-null   object
 13  Link                           3400 non-null   object
 14  Affiliations                   3305 non-null   object
 15  Authors with affiliations      3342 non-null   object
 16  Abstract                       3400 non-null   object
 17  Author Keywords                2781 non-null   object
 18  Index Keywords                 1616 non-null   object
 19  Molecular Sequence Numbers     0 non-null      float64
 20  Chemicals/CAS                  4 non-null      object
 21  Tradenames                     0 non-null      float64
 22  Manufacturers                  0 non-null      float64
 23  Funding Details                827 non-null    object
 24  Funding Text 1                 1039 non-null   object
 25  Funding Text 2                 141 non-null    object
 26  Funding Text 3                 7 non-null      object
 27  Funding Text 4                 1 non-null      object
 28  Funding Text 5                 1 non-null      object
 29  Funding Text 6                 1 non-null      object
 30  Funding Text 7                 1 non-null      object
 31  Funding Text 8                 0 non-null      float64
 32  Funding Text 9                 0 non-null      float64
 33  Funding Text 10                0 non-null      float64
 34  References                     3212 non-null   object
 35  Correspondence Address         2354 non-null   object
 36  Editors                        491 non-null    object
 37  Sponsors                       319 non-null    object
 38  Publisher                      3394 non-null   object
 39  Conference name                1063 non-null   object
 40  Conference date                1062 non-null   object
 41  Conference location            3 non-null      object
 42  Conference code                1065 non-null   float64
 43  ISSN                           2540 non-null   object
 44  ISBN                           1174 non-null   object
 45  CODEN                          276 non-null    object
 46  PubMed ID                      36 non-null     float64
 47  Language of Original Document  3400 non-null   object
 48  Abbreviated Source Title       3396 non-null   object
 49  Document Type                  3400 non-null   object
 50  Publication Stage              3400 non-null   object
 51  Open Access                    1097 non-null   object
 52  Source                         3400 non-null   object
 53  EID                            3400 non-null   object
dtypes: float64(10), int64(1), object(43)
memory usage: 1.4+ MB

In [1646]:
#Getting an overview of the data
data.columns

Index(['Authors', 'Author(s) ID', 'Title', 'Year', 'Source title', 'Volume',
       'Issue', 'Art. No.', 'Page start', 'Page end', 'Page count', 'Cited by',
       'DOI', 'Link', 'Affiliations', 'Authors with affiliations', 'Abstract',
       'Author Keywords', 'Index Keywords', 'Molecular Sequence Numbers',
       'Chemicals/CAS', 'Tradenames', 'Manufacturers', 'Funding Details',
       'Funding Text 1', 'Funding Text 2', 'Funding Text 3', 'Funding Text 4',
       'Funding Text 5', 'Funding Text 6', 'Funding Text 7', 'Funding Text 8',
       'Funding Text 9', 'Funding Text 10', 'References',
       'Correspondence Address', 'Editors', 'Sponsors', 'Publisher',
       'Conference name', 'Conference date', 'Conference location',
       'Conference code', 'ISSN', 'ISBN', 'CODEN', 'PubMed ID',
       'Language of Original Document', 'Abbreviated Source Title',
       'Document Type', 'Publication Stage', 'Open Access', 'Source', 'EID'],
      dtype='object')

In [1647]:
#Specify data columns for Network Analysis
data_NA = data[['Authors', 'Author(s) ID', 'Title', 'Year', 'Cited by', 'References', 'Source title', 'Authors with affiliations']]

#Checking NA data
data_NA.head()

,Authors,Author(s) ID,Title,Year,Cited by,References,Source title,Authors with affiliations
0,"Yang T., Zhang X.",57907798100;56342888200;,FinTech adoption and financial inclusion: Evid...,2022,NaN,"Agarwal, S., Basu, D., Ghosh, P., Pareek, B., ...",Journal of Banking and Finance,"Yang, T., Department of Financial Statistics, ..."
1,"Wang X., Wang Y., Zhao Y.",57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H..."
2,"Dzandu M.D., Hanu C., Amegbe H.",56590001600;57201152816;57194904537;,Gamification of mobile money payment for gener...,2022,NaN,"Abou-Shouk, M., Soliman, M., The impact of gam...",Technological Forecasting and Social Change,"Dzandu, M.D., Centre for Digital Business Rese..."
3,"Grassi L., Fantaccini S.",57192656409;57895835500;,An overview of Fintech applications to solve t...,2022,NaN,"Abbott, K., Shao, H., Shi, L., Policy options ...",Financial Innovation,"Grassi, L., School of Management, Politecnico ..."
4,"DeFusco A.A., Tang H., Yannelis C.",57193852071;57890330600;55413678100;,Measuring the welfare cost of asymmetric infor...,2022,NaN,"Adams, W., Einav, L., Levin, J., Liquidity con...",Journal of Financial Economics,"DeFusco, A.A., Northwestern University, Kellog..."

In [1648]:
#Checking NA data
data_NA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Authors                    3400 non-null   object
 1   Author(s) ID               3399 non-null   object
 2   Title                      3400 non-null   object
 3   Year                       3400 non-null   int64
 4   Cited by                   2164 non-null   float64
 5   References                 3212 non-null   object
 6   Source title               3400 non-null   object
 7   Authors with affiliations  3342 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 212.6+ KB

In [1649]:
#Checking missing author ID
data_NA[data_NA['Author(s) ID'].isna()]

,Authors,Author(s) ID,Title,Year,Cited by,References,Source title,Authors with affiliations
797,Financial Innovation,NaN,Correction to FinTech in Taiwan: a case study ...,2021,NaN,"Butt, S., Ramakrishnan, S., Loganathan, N., Ev...",Financial Innovation,Financial Innovation

In [1650]:
#Dropping row with mising author ID
data_NA.dropna(subset=['Author(s) ID'], inplace=True)

C:\Users\anett\AppData\Local\Temp\ipykernel_20416\3815092726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_NA.dropna(subset=['Author(s) ID'], inplace=True)

In [1651]:
#Checking the authors that have been working on most titles. 
data_NA['Authors'].value_counts(ascending=False).nlargest(20)

[No author name available]              58
Reyes-Mercado P.                        11
Ozili P.K.                               6
Baber H.                                 6
Okoli T.T., Tewari D.D.                  6
Serrano W.                               6
Al Janabi M.A.M.                         5
Wonglimpiyarat J.                        5
Wang H.                                  4
Iman N.                                  4
Alaassar A., Mention A.-L., Aas T.H.     4
Langley P., Leyshon A.                   3
Zavolokina L., Dolata M., Schwabe G.     3
Kim J.-Y., Cho S.-B.                     3
Liu C.                                   3
Salameh A., Bass J.M.                    3
Bhasin N.K., Rajesh A.                   3
Ferretti F.                              3
Singh S., Sahni M.M., Kovid R.K.         3
Bernards N.                              3
Name: Authors, dtype: int64

In [1652]:
#Dropping row with "No author name available"
data_NA['Authors'] = data_NA['Authors'].replace('[No author name available]', ' ')
data_NA['Authors'] = data_NA['Authors'].replace(' ', np.nan)
data_NA.dropna(subset=['Authors'], inplace=True)

C:\Users\anett\AppData\Local\Temp\ipykernel_20416\3569696143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_NA['Authors'] = data_NA['Authors'].replace('[No author name available]', ' ')
C:\Users\anett\AppData\Local\Temp\ipykernel_20416\3569696143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_NA['Authors'] = data_NA['Authors'].replace(' ', np.nan)
C:\Users\anett\AppData\Local\Temp\ipykernel_20416\3569696143.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_NA.dropna(subset=['Authors'], inplace=True)

In [ ]:
#Checking titles with most authors
data_NA['Title'].value_counts(ascending=False).nlargest(20)

## Network Analysis

In this section we look into networks between authors. The aim is to identify co-authorships and locate important autors as well as detecting communities.

It is an undirecet network since we have authors working on papers together. Also, the nature of the network is bipartite as the nodes can be authors or papers. Hence, authors are connected if they have been working on the same paper. Furthermore, the network should not consist of self-loops, since the authors cannot co-author with themselves.

### Importing packages and preparing data for Network Analysis

In [1653]:
#Filling in 'not specified' for authors with missing values in 'authors with affiliations'
data_NA['Authors with affiliations'] = data_NA['Authors with affiliations'].fillna('Not Specified')

C:\Users\anett\AppData\Local\Temp\ipykernel_20416\957915065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_NA['Authors with affiliations'] = data_NA['Authors with affiliations'].fillna('Not Specified')

In [1654]:
#Reset index after filling in 'authors with affiliations'
data_NA_Aff = data_NA["Authors with affiliations"].reset_index()

In [1656]:
#Split column 'Authors with affiliations' so that each author gets his/her own row
data_NA_Aff["Authors with affiliations"] = data_NA_Aff.loc[:,"Authors with affiliations"].apply(lambda x: x.split("; "))

In [1657]:
#Checking the data
data_NA_Aff.head()

   index                          Authors with affiliations
0      0  [Yang, T., Department of Financial Statistics,...
1      1  [Wang, X., College of Finance and Statistics, ...
2      2  [Dzandu, M.D., Centre for Digital Business Res...
3      3  [Grassi, L., School of Management, Politecnico...
4      4  [DeFusco, A.A., Northwestern University, Kello...

In [1658]:
#Saving the new rows
data_NA_Aff = data_NA_Aff.explode(["Authors with affiliations"], ignore_index=True)
data_NA_Aff

      index                          Authors with affiliations
0         0  Yang, T., Department of Financial Statistics, ...
1         0  Zhang, X., Department of Financial Statistics,...
2         1  Wang, X., College of Finance and Statistics, H...
3         1  Wang, Y., College of Finance and Statistics, H...
4         1  Zhao, Y., College of Finance and Statistics, H...
...     ...                                                ...
9589   3398  Zhang, W., School of Management, Tianjin Unive...
9590   3399  Danial, S.N., Dadabhoy Institute of Higher Edu...
9591   3399              Noor, S.R., Saudi Orger, Saudi Arabia
9592   3399  Usmani, B.A., NED University of Engineering an...
9593   3399  Zaidi, S.J.H., Bahria University, Karachi Camp...

[9594 rows x 2 columns]

In [1659]:
#Making new column for author name from the Authors with affiliations column
data_NA_Aff['Authors'] = data_NA_Aff.loc[:,"Authors with affiliations"].apply(lambda x: x.split(",")[0:2])

In [1660]:
data_NA_Aff

,index,Authors with affiliations,Authors
0,0,"Yang, T., Department of Financial Statistics, ...","[Yang, T.]"
1,0,"Zhang, X., Department of Financial Statistics,...","[Zhang, X.]"
2,1,"Wang, X., College of Finance and Statistics, H...","[Wang, X.]"
3,1,"Wang, Y., College of Finance and Statistics, H...","[Wang, Y.]"
4,1,"Zhao, Y., College of Finance and Statistics, H...","[Zhao, Y.]"
...,...,...,...
9589,3398,"Zhang, W., School of Management, Tianjin Unive...","[Zhang, W.]"
9590,3399,"Danial, S.N., Dadabhoy Institute of Higher Edu...","[Danial, S.N.]"
9591,3399,"Noor, S.R., Saudi Orger, Saudi Arabia","[Noor, S.R.]"
9592,3399,"Usmani, B.A., NED University of Engineering an...","[Usmani, B.A.]"
9593,3399,"Zaidi, S.J.H., Bahria University, Karachi Camp...","[Zaidi, S.J.H.]"

In [1661]:
#Making a new column for affiliations from the Authors with affiliations column
data_NA_Aff['Affiliations'] = data_NA_Aff.loc[:,"Authors with affiliations"].apply(lambda x: x.split(", ")[2:])

In [1664]:
#Checking the data
data_NA_Aff.head()

,index,Authors with affiliations,Authors,Affiliations
0,0,"Yang, T., Department of Financial Statistics, ...","[Yang, T.]","[Department of Financial Statistics, School of..."
1,0,"Zhang, X., Department of Financial Statistics,...","[Zhang, X.]","[Department of Financial Statistics, School of..."
2,1,"Wang, X., College of Finance and Statistics, H...","[Wang, X.]","[College of Finance and Statistics, Hunan Univ..."
3,1,"Wang, Y., College of Finance and Statistics, H...","[Wang, Y.]","[College of Finance and Statistics, Hunan Univ..."
4,1,"Zhao, Y., College of Finance and Statistics, H...","[Zhao, Y.]","[College of Finance and Statistics, Hunan Univ..."

In [1665]:
#Change list to string for column Authors
f = lambda x: ','.join(map(str, x)) if isinstance(x, list) else x
data_NA_Aff['Authors'] = data_NA_Aff['Authors'].apply(f)

In [1667]:
#Change list to string for column Affiliations
f = lambda x: ','.join(map(str, x)) if isinstance(x, list) else x
data_NA_Aff['Affiliations'] = data_NA_Aff['Affiliations'].apply(f)

In [1670]:
#Drop duplicate authors to prepare for merge
data_NA_Aff['Authors'] = data_NA_Aff['Authors'].drop_duplicates()

In [1672]:
#Dropping empty values
data_NA_Aff = data_NA_Aff.dropna()

In [1673]:
#Reset index
data_NA_Aff = data_NA_Aff.reset_index()

In [1675]:
#Dropping columns
data_NA_Aff = data_NA_Aff.drop(columns=["level_0", "index"])

In [1676]:
#Remove comma to prepare for merge
data_NA_Aff['Authors'] = data_NA_Aff['Authors'].str.replace(',', '')

In [1680]:
#Moving on to data set data_NA - split the author column so that each author for each paper get his/her own row
data_NA["Authors"] = data_NA.loc[:,"Authors"].apply(lambda x: x.split(","))

C:\Users\anett\AppData\Local\Temp\ipykernel_20416\1979142172.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_NA["Authors"] = data_NA.loc[:,"Authors"].apply(lambda x: x.split(","))

In [1682]:
#Explode 
data_NA = data_NA.explode(["Authors"],ignore_index=True)
data_NA

,Authors,Author(s) ID,Title,Year,Cited by,References,Source title,Authors with affiliations
0,Yang T.,57907798100;56342888200;,FinTech adoption and financial inclusion: Evid...,2022,NaN,"Agarwal, S., Basu, D., Ghosh, P., Pareek, B., ...",Journal of Banking and Finance,"Yang, T., Department of Financial Statistics, ..."
1,Zhang X.,57907798100;56342888200;,FinTech adoption and financial inclusion: Evid...,2022,NaN,"Agarwal, S., Basu, D., Ghosh, P., Pareek, B., ...",Journal of Banking and Finance,"Yang, T., Department of Financial Statistics, ..."
2,Wang X.,57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H..."
3,Wang Y.,57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H..."
4,Zhao Y.,57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H..."
...,...,...,...,...,...,...,...,...
9585,Zhang W.,55479146300;56621528900;,Notice of Retraction: An discrimination resear...,2010,2.0,"Aggarwal, R.K., Wu, G., Stock market manipulat...",ICAMS 2010 - Proceedings of 2010 IEEE Internat...,"Ma, Z.-X., School of Management, Tianjin Unive..."
9586,Danial S.N.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu..."
9587,Noor S.R.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu..."
9588,Usmani B.A.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu..."
9589,Zaidi S.J.H.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu..."

In [1689]:
#Preparing column Authors for merge
for col in 'Authors':
    data_NA['Authors'] = data_NA['Authors'].apply(lambda x : x[1:] if x.startswith(" ") else x)

In [1685]:
#Adding a ID-number for each author 
data_NA['Author_ID'] = pd.factorize(data_NA['Authors'])[0]

In [1693]:
#Merging the data to get affiliation for each author 
data_NA_merge = pd.merge(data_NA, data_NA_Aff[['Authors', 'Affiliations']], on='Authors', how='left')

In [1694]:
#Checking the merged data
data_NA_merge

,Authors,Author(s) ID,Title,Year,Cited by,References,Source title,Authors with affiliations,Author_ID,Affiliations
0,Yang T.,57907798100;56342888200;,FinTech adoption and financial inclusion: Evid...,2022,NaN,"Agarwal, S., Basu, D., Ghosh, P., Pareek, B., ...",Journal of Banking and Finance,"Yang, T., Department of Financial Statistics, ...",0,"Department of Financial Statistics,School of S..."
1,Zhang X.,57907798100;56342888200;,FinTech adoption and financial inclusion: Evid...,2022,NaN,"Agarwal, S., Basu, D., Ghosh, P., Pareek, B., ...",Journal of Banking and Finance,"Yang, T., Department of Financial Statistics, ...",1,"Department of Financial Statistics,School of S..."
2,Wang X.,57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H...",2,"College of Finance and Statistics,Hunan Univer..."
3,Wang Y.,57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H...",3,"College of Finance and Statistics,Hunan Univer..."
4,Zhao Y.,57193015825;57901727900;57901783600;,Financial permeation and rural poverty reducti...,2022,NaN,"Aghion, P., Bolton, P., A theory of trickle-do...",China Economic Review,"Wang, X., College of Finance and Statistics, H...",4,"College of Finance and Statistics,Hunan Univer..."
...,...,...,...,...,...,...,...,...,...,...
9585,Zhang W.,55479146300;56621528900;,Notice of Retraction: An discrimination resear...,2010,2.0,"Aggarwal, R.K., Wu, G., Stock market manipulat...",ICAMS 2010 - Proceedings of 2010 IEEE Internat...,"Ma, Z.-X., School of Management, Tianjin Unive...",1572,"School of Management,Claverton Down,University..."
9586,Danial S.N.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu...",7672,"Dadabhoy Institute of Higher Education,SNPA-17..."
9587,Noor S.R.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu...",7673,"Saudi Orger,Saudi Arabia"
9588,Usmani B.A.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu...",7674,"NED University of Engineering and Technology,U..."
9589,Zaidi S.J.H.,24823887800;24825002200;26666352700;57549810600;,A dynamical system and neural network perspect...,2008,NaN,"Box, G.E.P., Jenkins, G.M., Reinsel, G.C., (19...",Communications in Computer and Information Sci...,"Danial, S.N., Dadabhoy Institute of Higher Edu...",7675,"Bahria University,Karachi Campus,13 Stadium Ro..."

In [1695]:
data_NA_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9590 entries, 0 to 9589
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Authors                    9590 non-null   object
 1   Author(s) ID               9590 non-null   object
 2   Title                      9590 non-null   object
 3   Year                       9590 non-null   int64
 4   Cited by                   6386 non-null   float64
 5   References                 9280 non-null   object
 6   Source title               9590 non-null   object
 7   Authors with affiliations  9590 non-null   object
 8   Author_ID                  9590 non-null   int64
 9   Affiliations               9502 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 824.1+ KB

In [1699]:
#Fill in 'not specified when affiliations is empty
data_NA_merge['Affiliations'] = data_NA_merge['Affiliations'].fillna('Not Specified')

In [1700]:
#Checking the merged data 
data_NA_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9590 entries, 0 to 9589
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Authors                    9590 non-null   object
 1   Author(s) ID               9590 non-null   object
 2   Title                      9590 non-null   object
 3   Year                       9590 non-null   int64
 4   Cited by                   6386 non-null   float64
 5   References                 9280 non-null   object
 6   Source title               9590 non-null   object
 7   Authors with affiliations  9590 non-null   object
 8   Author_ID                  9590 non-null   int64
 9   Affiliations               9590 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 824.1+ KB